@tailwind base;
@tailwind components;
@tailwind utilities;

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 120px;
  border: 2px solid #800080;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.box:hover {
  transform: scale(1.05);
  border: 2px solid #800080;
  border-radius: 10px;
  background-color: #800080;
}

.github-box {
  background: rgba(128, 0, 128, 0.62);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(128, 0, 128, 0.3);
  transition: transform 0.3s ease-in-out;
}

.github-box:hover {
  transform: scale(1.05);
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: rgba(128, 0, 128, 0.21);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.navbar.scrolled {
  background: rgba(128, 0, 128, 0.52);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.navbar-text:hover {
  transform: scale(1.1);
  font-weight: 500;
  color: aqua;
}

.hamburger-menu {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (max-width: 768px) {
  .home-sm {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 100px;
    height: 90vh;
  }
  .image-sm {
    right: 0;
    top: 0;
    margin-top: 20px;
  }
}
